<div class="col-m-3">
    <div class="d-flex align-items-center justify-content-between p-3 border-bottom tx-16">
      <div class="d-flex align-items-center">
        
      </div>
      <div>
        <a class="me-2" type="button" data-bs-toggle="tooltip" data-bs-title="Close"[routerLink]="['/parkinglots']">
          <mat-icon aria-hidden="false" aria-label="close" fontIcon="close"></mat-icon>
      </a>
      </div>
    </div>
  </div>
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h6 class="card-title">Edit Parking Lot Details</h6>
            <form [formGroup]="editLotForm" (ngSubmit)="editLot()" class="forms-sample">
                <div class="form-group">
                    <input type="hidden" formControlName="id" value={{lotId}}>
                </div>
                <div class="form-group">
                    <div class="row col-sm-9">
                        <mat-form-field>
                            <span matTextPrefix>Parking Lot: &nbsp;</span>
                            <input matInput class="form-control" formControlName="description">
                            <mat-error *ngIf="editLotForm.get('description')?.hasError('required')">Parking Lot is required</mat-error>
                          </mat-form-field>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row col-sm-9">
                        <mat-form-field>
                            <span matTextPrefix>Total Spots Available: &nbsp;</span>
                            <input matInput placeholder="Number of Spots" formControlName="totalspots" class="form-control">
                            <mat-error *ngIf="editLotForm.get('totalspots')?.hasError('required')">No. of spots is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary me-2" [disabled]="!editLotForm.valid">Update</button>
                <a [routerLink]="['/parkinglots']"><button class="btn btn-secondary">Cancel</button></a>
            </form>
        </div>
    </div>
</div>
