<div class="container mt-4" >
 
    <div class="card">
            <h1>Add KUTRRH Employees</h1>
     
    <form>
      <!-- [(ngModel)]="email" [ngModelOptions]="{standalone: true}" -->
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" id="name" placeholder="Employee Name">
        </div>
     
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" id="email" placeholder="Email address"/>
          </div>
     
          <div class="form-group">
            <label>PF No.</label>
            <input type="text" class="form-control" id="pfno" placeholder="PF No."/>
          </div>

          <div class="form-group">
            <label>Designation</label>
            <input type="text" class="form-control" id="designation" placeholder="Designation"/>
          </div>

          <div class="form-group">
            <label>Department</label>
            <input type="text" class="form-control" id="department" placeholder="Department"/>
          </div>

          <div class="form-group">
            <label>Directorate</label>
            <input type="text" class="form-control" id="directorate" placeholder="Directorate"/>
          </div>

          <div class="form-group">
            <label>Mobile Number</label>
            <input type="text" class="form-control" id="mobile" placeholder="Mobile"/>
          </div>

          <div class="form-group">
            <label>Alternative Number or Office Extension Number</label>
            <input type="text" class="form-control" id="altno" placeholder="Alt No. or Ext"/>
          </div>
        
        <button type="submit" class="btn btn-primary mt-4" >Submit</button>
      </form>
    </div>
    <div>
     
     
        <div class="container mt-4" >
     
            <h1>KUTRRH Employees</h1>
     
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">PF No.</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Department</th>
                        <th scope="col">Directorate</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Alt No.</th>
                    </tr>
                </thead>
                <tbody>
              
                </tbody>
            </table>
     
     
        </div>
